.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 89px;
  /* identical to box height, or 139% */
  
  color: #D8E5FF;
}

p {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  /* or 119% */

  color: #839FD3;

}

.divider {
  justify-content: center;
  padding: 0px;

  position: absolute;
  width: 1599.96px;
  height: 5px;
  left: 160px;
  top: 250px;
}
